version: '3.9'

services:

  frontend:
    build: .
    command: python index.py --host 0.0.0.0 --port 8050
    ports:
      - 8050:8050
    volumes:
      - ./app/:/usr/src/app/
    environment:
      - API_URL=${API_URL}
      - API_LOGIN=${API_LOGIN}
      - API_PWD=${API_PWD}
      - SENTRY_DSN=${SENTRY_DSN}
      - DEBUG=${DEBUG}
