[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "pyro-platform"
version = "0.1.2.dev0"
description = "Monitoring platform for wildfire alerts"
authors = ["Pyronear <contact@pyronear.org>"]
license = "Apache-2.0"


[tool.poetry.dependencies]
python = "^3.8"
dash = ">=1.16.2,<2.0.0"
dash-bootstrap-components = ">=0.10.6"
dash-leaflet = "^0.1.4"
dash-extensions = ">=0.0.51"
Flask-Caching = ">=1.3.3"
pandas = ">=0.24.2,<2.0.0"
pyroclient = "==0.1.2"
python-dotenv = ">=0.15.0,<1.0.0"
geopy = "^2.1.0"
requests = "^2.25.0"
sentry-sdk = { version = "^1.5.12", extras = ["flask"] }
gunicorn = ">=20.0.4"
# Indirect deps
# cf. https://github.com/plotly/dash/issues/1992
werkzeug = ">=0.16.0,<2.1.0"
# cf. https://stackoverflow.com/questions/72191560/importerror-cannot-import-name-soft-unicode-from-markupsafe
MarkupSafe = "<2.1.0"
# cf. https://stackoverflow.com/questions/72441758/typeerror-descriptors-cannot-not-be-created-directly
protobuf = ">=3.14.0,<4.0.0"

flake8 = { version = ">=3.9.0,<5.0.0", optional = true }
isort = { version = "^5.7.0", optional = true }
mypy = {version = "==1.2.0", optional = true}
black = {version = "==22.3.0", optional = true}
autoflake = { version = "^1.5.0", optional = true }
bandit = { version = "^1.7.0", extras = ["toml"], optional = true }
pre-commit = { version = "^2.17.0", optional = true }


[tool.poetry.extras]
quality = ["flake8", "isort", "mypy", "black", "autoflake", "bandit", "pre-commit"]

[tool.mypy]
files = "app/"
show_error_codes = true
pretty = true
warn_unused_ignores = true
warn_redundant_casts = true
no_implicit_optional = true
check_untyped_defs = true
implicit_reexport = false
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = [
	"requests.*",
]
ignore_missing_imports = true

[tool.isort]
profile = "black"
known_first_party = ["config", "pages", "components", "utils", "services"]

[tool.pydocstyle]
select = "D300,D301,D417"
match = ".*\\.py"

[tool.coverage.run]
source = ["app"]

[tool.black]
line-length = 120
target-version = ['py38']

[tool.autoflake]
remove-unused-variables = true
remove-all-unused-imports = true
ignore-init-module-imports = true

[tool.bandit]
exclude_dirs = []
skips = ["B101"]
