wheel>=0.29
pandas>=0.24.2
numpy>=1.18.4
dash>=1.16.2
dash-bootstrap-components>=0.10.6
dash-leaflet==0.1.4
gunicorn>=20.0.4
Flask-Caching>=1.3.3
pyroclient@git+https://github.com/pyronear/pyro-api.git#egg=pyroclient&subdirectory=client
python-dotenv>=0.15.0
simple-crypt>=4.1.7
