/* Style the scrollbar itself (width, color) */
::-webkit-scrollbar {
    width: 10px;  /* Scrollbar width */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FEBA6A;  /* Scrollbar handle color */
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
/* custom.css */
.btn-uniform {
  width: 100%;
  border: none;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* custom.css */
a.no-underline {
  text-decoration: none;
}

