/* style.css */

/* Style the scrollbar itself (width, color) */
::-webkit-scrollbar {
  width: 10px;  /* Scrollbar width */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FEBA6A;  /* Scrollbar handle color */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom button style */
.btn-uniform {
  width: 100%;
  border: none;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom link style */
a.no-underline {
  text-decoration: none;
}

/* Common style for containers and panels */
.common-style {
  border: 2px solid #044448;
  border-radius: 10px;  
  background-color: rgba(4, 68, 72, 0.1);
}

.common-style-slider {
  border: 2px solid #044448;
  border-radius: 10px;  
  background-color: rgba(4, 68, 72, 0.1);
  margin-top: 10px;
}


/* Specific style for highlighted text */
.highlight-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
