/* style.css */
.btn-primary{
  --bs-btn-bg: #054546;
  --bs-btn-hover-bg: #032626;
  --bs-btn-active-bg: #032626;
}
/* Style the scrollbar itself (width, color) */
::-webkit-scrollbar {
  width: 10px;  /* Scrollbar width */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FEBA6A;  /* Scrollbar handle color */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom button style */
.btn-uniform {
  width: 100%;
  border: none;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

/* Custom link style */
a.no-underline {
  text-decoration: none;
}

/* Common style for containers and panels */
.common-style {
  border: 1px solid #044448;
  border-radius: 4px;  
  background-color: rgba(4, 68, 72, 0.1);
}

.common-style-slider {
  border: 2px solid #044448;
  border-radius: 10px;  
  background-color: rgba(4, 68, 72, 0.1);
}


/* Specific style for highlighted text */
.highlight-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.alert-card {
  background-color: #FFE2C2;
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid;
}

#alert-information-styling-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.alert-information-title {
  font-weight: bold;
}
