name: build

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  dash:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          architecture: x64
      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "1.3.0"
      - name: Resolve dependencies
        run: poetry export -f requirements.txt --without-hashes --output requirements.txt
      - name: Cache python modules
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pkg-deps-${{ matrix.python }}-${{ hashFiles('requirements.txt') }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run demo
        env:
          API_URL: ${{ secrets.API_URL }}
          API_LOGIN: ${{ secrets.API_LOGIN }}
          API_PWD: ${{ secrets.API_PWD }}
        run: |
          screen -dm python app/main.py
          sleep 200
          curl http://localhost:8050/
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "1.3.0"
      - name: Resolve dependencies
        run: poetry export -f requirements.txt --without-hashes --output requirements.txt
      - name: Build & run docker
        env:
          API_URL: ${{ secrets.API_URL }}
          API_LOGIN: ${{ secrets.API_LOGIN }}
          API_PWD: ${{ secrets.API_PWD }}
        run: docker-compose -f docker-compose-dev.yml up -d --build
      - name: Check docker sanity
        run: sleep 200 && docker-compose logs && curl http://localhost:8050/
