name: docker

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  docker-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build & run docker
        env:
          API_URL: ${{ secrets.API_URL }}
          API_LOGIN: ${{ secrets.API_LOGIN }}
          API_PWD: ${{ secrets.API_PWD }}
        run: docker-compose up -d --build
      - name: Check docker sanity
        run: sleep 10 && curl http://localhost:8050/
